In [ ]:
import pandas as pd 
import numpy as np 

data = { 
"Name": ["Pukar", "Rimal", "Ram", "Hari", "Krishna", "John Cena", "Roman Reing", "Ronaldo",          
"Neymar", "Messi"], 
"Age": [21, 20, np.nan, 34, 54, 77, 45, np.nan, 66, 15], 
"Salary": [12935, 87333, 20000, np.nan, 13000, 150000, 113000.0, 125000.0, np.nan, 60000.2], 

}  
df = pd.DataFrame(data) 

df.loc[10] = [np.nan, np.nan, np.nan] 
print("Original Dataset with NaN values and an empty row:\n") 
print(df) 
#
df = df.dropna(how="all") 

df = df.fillna(80) 
print("\nCleaned Dataset:\n") 
print(df)

Original Dataset with NaN values and an empty row:

           Name   Age    Salary
0         Pukar  21.0   12935.0
1         Rimal  20.0   87333.0
2           Ram   NaN   20000.0
3          Hari  34.0       NaN
4       Krishna  54.0   13000.0
5     John Cena  77.0  150000.0
6   Roman Reing  45.0  113000.0
7       Ronaldo   NaN  125000.0
8        Neymar  66.0       NaN
9         Messi  15.0   60000.2
10          NaN   NaN       NaN

Cleaned Dataset:

          Name   Age    Salary
0        Pukar  21.0   12935.0
1        Rimal  20.0   87333.0
2          Ram  80.0   20000.0
3         Hari  34.0      80.0
4      Krishna  54.0   13000.0
5    John Cena  77.0  150000.0
6  Roman Reing  45.0  113000.0
7      Ronaldo  80.0  125000.0
8       Neymar  66.0      80.0
9        Messi  15.0   60000.2