In [2]:
import pandas as pd
df = pd.read_excel("test-train.xlsx")
print(df)

   milage  age   sellprice
0   69000     6      18000
1   35000     3      34000
2   57000     5      26100
3   22500     2      40000
4   46000     4      31500
5   59000     5      26750
6   52000     5      32000
7   72000     6      19300
8   91000     8      12000
9   67000     6      22000

In [6]:
datas = {
    "name":["Pukar", "Ram", "Hari", "Shyam"],
    "caste":["rimal", "kahtiwada", "kc", "dhakal"]
}
df=pd.DataFrame(datas)
print(df)

    name      caste
0  Pukar      rimal
1    Ram  kahtiwada
2   Hari         kc
3  Shyam     dhakal

In [7]:
import pandas as pd
df = pd.read_excel("test-train.xlsx")
print(df)

   milage  age   sellprice
0   69000     6      18000
1   35000     3      34000
2   57000     5      26100
3   22500     2      40000
4   46000     4      31500
5   59000     5      26750
6   52000     5      32000
7   72000     6      19300
8   91000     8      12000
9   67000     6      22000

In [21]:
#Prints the name of the columns
print(df.columns)

#select * from table where sellrice = 22000
print(df[df["sellprice"] == 22000])

Index(['milage', 'age ', 'sellprice'], dtype='object')
   milage  age   sellprice
9   67000     6      22000